::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px #4caf50;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4caf50;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2f6a32;
}
